.p-rating .p-rating-item .p-rating-icon.p-icon {
  width: 0.8rem;
  height: 0.8rem;
}
.top-space-12 {
  top: 12px;
}
.left-space-12 {
  left: 12px;
}
.p-space-4 {
  padding: 4px;
}
.gap-space-2 {
  gap: 2px;
}
.text-badgeBold {
  font-size: 10px;
  letter-spacing: 0.15px;
  line-height: normal;
}
